.contact-main-container {
  background-color: rgb(15, 14, 14);
  background-size: cover;
  height: 100vh;
}
.contact-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
@media screen and (max-width: 767px) {
  .contact-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
