.contact-main-container {
  background-image: url("https://res.cloudinary.com/dqrp5aeqy/image/upload/v1685683027/Insurance-Leadspace-Aniamted_fhksct.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.contact-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
@media screen and (max-width: 767px) {
  .contact-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.icon-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 20px 0px;
}
.heading {
  font-family: "Arial";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  color: #ffffff;
}
.icon {
  width: 40px;
  height: 40px;
  color: #c19cfe;
  margin-right: 25px;
  border: 1px dashed #84d;
  border-radius: 30px;
  padding: 8px;
}
.name-icon {
  color: #ffff;
  font-size: 18px;
  font-family: "Arial";
  font-weight: 500;
  font-style: normal;
}
