.nav {
  background-color: rgb(15, 14, 14);
  padding: 15px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    line-height: 1;
  }
}
.nav-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .nav-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.nav-link {
  width: 80px;
  border: 1px solid #c19cfe;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  color: #8d4dfd;
  font-size: 16px;
  font-family: "calibri";
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .nav-link {
    font-size: 16px;
  }
}
.text-link {
  text-decoration: none;
  margin: 0px 25px;
}
.portfolio {
  color: #8d4dfd;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
}
.active-link {
  width: 80px;
  background-color: #c19cfe;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  color: #0f0f0f;
  font-size: 16px;
  font-family: "calibri";
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .active-link {
    font-size: 16px;
  }
  .text-link {
    margin: 15px 18px;
  }
}
